@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #1a1a1a;
  --light: #ffffff;
  --gradient-start: #b86adf;
}

body {
  font-family: var(--font-ibm-plex-sans), 'IBM Plex Sans', Arial, sans-serif;
}

::selection {
  background-color: #c74313; /* Change this to any color you want */
  color: #ffffff; /* Text color when selected */
}

::-moz-selection {
  background-color: #c74313; /* For Firefox */
  color: #ffffff;
}
